.g-container-general {
    height: 75vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}
.g-general-content {
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.62);
    box-shadow: 8px 9px 15px 7px rgba(0, 0, 0, 0.30);
    height: 100%;
    width: 90%;
}
.g-principal-title {
    font-size: 64px;
    font-style: italic;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
    font-weight: 600;
    line-height: 119%;
    font-style: normal;
}
.g-principal-title span {
    color: #559849;
}
.g-pages-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.g-pages-selector h3 {
    width: 45px;
    height: 45px;
    border-radius: 50px;
    background-color: var(--principal-color-rbg);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 28px;
    cursor: pointer;
}
.g-gray-line-1 {
    width: 240px;
    height: 1px;
    border: 2px solid #ABABAB;
    transition: all 0.5s ease;
}
.g-gray-line-1.isActive {
    width: 0;
    border: 2px solid #ABABAB;
    transition: all 0.5s ease;
}
.g-green-line-1 {
    width: 0;
    border: 2px solid var(--principal-color-rbg);
    transition: all 0.5s ease;
}
.g-green-line-1.isActive {
    width: 240px;
    height: 1px;
    border: 2px solid var(--principal-color-rbg);
    transition: all 0.5s ease;
}
.g-gray-line-2 {
    width: 240px;
    height: 1px;
    border: 2px solid #ABABAB;
    transition: all 0.5s ease;
}
.g-gray-line-3 {
    width: 240px;
    height: 1px;
    border: 2px solid #ABABAB;
    transition: all 0.5s ease;
}