.header {
    background-color: var(--principal-color-rbg);
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 4;
}
.space {
    height: 100px;
}

.containerLogo {
    margin-left: 22px;
    width: 20%;
}

.containerLogoMenu {
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
}

.responsiveNav {
    display: none;
    cursor: pointer;
}

.logoOriginal {
    display: none;
}

.ul li {
    font-size: 35px;
    margin-bottom: 36px;
    text-align: center;
    cursor: pointer;
}

.nav h3 {
    cursor: pointer;
}

.x {
    margin-left: 29px;
    margin-top: 23px;
}




@media screen and (max-width: 768px) {
    .header {
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 74px;
    }

    .nav {
        display: none;
    }

    .responsiveNav {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 11px;
    }

    .logoOriginal {
        display: block;
    }

    .logoBlanco {
        display: none;
    }

    .menuBurger {
        display: block;
        position: fixed;
        z-index: 5;
        width: 0vw;
        height: 100vh;
        background-color: white;
        opacity: 0;
        overflow: hidden;
        top: 0;
        right: 0;
        transition: all .5s ease;
    }

    .menuBurger.isActive {
        display: block;
        opacity: 1;
        width: 100vw;
        transition: all .5s ease;
    }

    .menuBurgerClose {
        left: -100px;
    }

    .logoOriginalMenu {
        margin: 10px 0;
        width: 170px;
    }

}

@media screen and (max-width: 1300px) {
    .nav h3 {
        font-size: 18px;
    }

}