.header {
    background-color: var(--principal-color-rbg);
    display: flex;
}

.containerLogo {
    margin-left: 22px;
    width: 20%;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
}

@media screen and (max-width: 768px) {
    .header {
        background-color: white;
    }
    .nav h3 {
        color: var(--principal-color-rbg);
    }

}

@media screen and (max-width: 1300px) {
    .nav h3 {
        font-size: 18px;
    }

}
